body {
    margin: 1rem 1rem;
}

div#wrapper {
    display: grid;

    grid-template-areas:
        "logo"
        "menu"
        "intro"
        "playground"
        "footer";
}

@media (min-width: 850px) {
    div#wrapper {
        display: grid;

        grid-template-areas:
            "logo       intro"
            "menu       menu"
            "playground playground"
            "footer     footer";

        grid-template-columns: 500px 1fr;
        grid-template-rows: 345px auto auto auto;
    }
}

h1.game {
    grid-area: logo;
}

ul.menu {
    grid-area: menu;
}

#introduction {
    grid-area: intro;
}

#tetgrid {
    grid-area: playground;
}

footer {
    grid-area: footer;
}